/*
#14181b
#2b2e35
#41454e
#595c6d
#8a8c8d
#95979a
#a0a2a7
#acaeb6

#EAC204
#eebb00
#f7f5b1
#DBB201

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- spacing system (px)

2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

body {
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #2b2e35;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.heading-one {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 7.4rem;
  letter-spacing: 4px;
  margin-bottom: 3.2rem;
}
.heading-two {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 2.5px;
  margin-bottom: 6.4rem;
}
.heading-three {
  text-transform: uppercase;
  font-size: 4.4rem;
  font-weight: 400;
  margin-bottom: 3.2rem;
  letter-spacing: 2px;
}
.heading-four {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 2.5px;
  margin-bottom: 2.2rem;
  color: #eac204;
}
