/*Nav*/
.header {
  position: relative;
  z-index: 999;
}

.header-nav {
  position: absolute;
  width: 100%;
  height: 8rem;
  align-items: center;
  padding: 0 4.8rem;
  background: #acaeb6;
  opacity: 0.7;
}

.header-nav-list {
  height: 100%;
  display: flex;
  gap: 4.8rem;
  list-style: none;
  align-items: center;
  justify-content: end;
}

.header-nav-link:visited,
.header-nav-link:link {
  text-decoration: none;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s;
  display: inline-block;
}

.header-nav-link:hover,
.header-nav-link:active {
  color: #eac204;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .header-nav {
  background: #ffffff;
  opacity: 1;
}
.sticky .header-nav-link {
  color: #14181b;
}
.sticky .header-nav-link:hover,
.sticky .header-nav-link:active {
  color: #eac204;
}

.btn-mobile {
  border: none;
  background: none;
  cursor: pointer;
  position: fixed;
  display: none;
  margin: 1rem 0 0 1rem;
}

.btn-mobile-icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #8a8c8d;
}

.btn-mobile-icon[name="close-outline"] {
  display: none;
}

/*Home*/
.home {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-home {
  padding: 15rem 8rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.home-icon-box ul {
  list-style: none;
  display: flex;
  gap: 5rem;
}
.home-link {
  font-size: 4rem;
  color: #ffffff;
  text-decoration: none;
  border: solid 1px #ffffff;
  border-radius: 50%;
  padding: 1rem;
  transition: all 0.3s;
}

.btn-contact {
  margin-top: 6rem;
  color: #ffffff;
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-decoration: none;
  border: solid 1px #ffffff;
  border-radius: 5px;
  padding: 1.5rem 2.5rem;
  transition: all 0.3s;
}

.home-link:hover,
.home-link:active,
.btn-contact:hover,
.btn-contact:active {
  background: #ffffff;
  color: #eac204;
}
.home-background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/william-daigneault-Cd84YdL9px8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*about*/
.section-about,
.section-skills,
.section-projects,
.section-contact {
  width: 100%;
  padding: 13rem 0;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-contents {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 7rem;
  padding-top: 5rem;
  position: relative;
  justify-content: center;
  align-items: center;
}

.about-contents::after {
  content: "";
  background: #eac204;
  position: absolute;
  bottom: 25%;
  left: 45%;
  top: 0;
  height: 2px;
  width: 10%;
  z-index: 100;
}

.about-contents img {
  max-width: 23rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2rem 4.8rem rgba(0, 0, 0, 0.075);
  justify-self: center;
}
.about-text {
  font-size: 2rem;
  line-height: 1.6;
  color: #acaeb6;
}
/*skills*/
.section-skills {
  width: 100%;
  background: #f7f7f7;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-contents {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  gap: 7rem;
  padding-top: 10rem;
  position: relative;
  list-style: none;
}

.skills-contents::after {
  content: "";
  background: #eac204;
  position: absolute;
  bottom: 25%;
  left: 45%;
  top: 0;
  height: 2px;
  width: 10%;
  z-index: 100;
}

.skills-content {
  display: flex;
  flex-direction: column;
  color: #8a8c8d;
  justify-content: center;
  align-items: center;
}

.skills-content:hover {
  filter: invert(57%) sepia(97%) saturate(372%) hue-rotate(12deg)
    brightness(103%) contrast(113%);
}
.skill-icon {
  font-size: 4.8rem;
}
.skills-content img {
  filter: invert(58%) sepia(3%) saturate(168%) hue-rotate(155deg)
    brightness(95%) contrast(87%);
  width: 4.8rem;
}

.skills-content span {
  padding-top: 1.6rem;
  font-size: 1.6rem;
}

/*projects*/
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-contents {
  width: 100%;
  padding-top: 5rem;
  position: relative;
}

.mobile {
  display: none;
}

.projects-contents::after {
  content: "";
  background: #eac204;
  position: absolute;
  bottom: 25%;
  left: 45%;
  top: 0;
  height: 2px;
  width: 10%;
  z-index: 100;
}
.projects-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.4rem;
}
.projects-content-img {
  justify-self: center;
  align-self: center;
  position: relative;
  width: 90%;
  height: 100%;
  background-color: #fefdf8;
  overflow: hidden;
  box-shadow: 0 2rem 4.8rem rgba(0, 0, 0, 0.075);
}
.projects-content-img img {
  transition: all 0.3s;
}
.projects-content-img img:hover,
.projects-content-img img:active {
  transform: scale(1.2);
  z-index: 20;
}

.projects-content-textbox:nth-child(4) {
  grid-row: 3;
}
.projects-content-textbox:nth-child(8) {
  grid-row: 7;
}
.content-img-1,
.content-img-2 {
  position: absolute;
}
.content-img-1 {
  width: 70%;
  left: 1rem;
  bottom: 0;
  z-index: 3;
  box-shadow: 2rem 2rem 4.8rem rgba(0, 0, 0, 0.075);
}
.content-img-2 {
  width: 60%;
  right: 1.5rem;
  box-shadow: 0 1rem 4.8rem rgba(0, 0, 0, 0.075);
}

.projects-content-textbox {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.projects-content-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #acaeb6;
  margin-bottom: 1.6rem;
}

.projects-content-icon ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.projects-icon {
  font-size: 3.2rem;
  opacity: 0.5;
  margin-bottom: 5.4rem;
}

.projects-content-icon img {
  width: 3.2rem;
  opacity: 0.5;
}

.btn-projects:link,
.btn-projects:visited {
  position: absolute;
  text-decoration: none;
  font-size: 2.2rem;
  color: inherit;
  font-weight: 500;
  transition: all 0.3s;
  bottom: 5.4rem;
}

.btn-projects:hover,
.btn-projects:active {
  color: #eac204;
  transform: translateX(20%);
}
/*slider*/
.slider {
  max-width: 100%;
  height: 40rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fefdf8;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s;
}
.slide-content {
  width: 85%;
  align-items: center;
}
.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: none;
  color: #acaeb6;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn:hover,
.slider__btn:active {
  color: #eac204;
}

.slider__btn--left {
  left: 3%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 3%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #acaeb6;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #eac204;
  opacity: 1;
}

.slide-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.5rem;
}

.slide-content-img {
  display: flex;
  max-width: 30rem;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 1rem 4.8rem rgba(0, 0, 0, 0.075);
}

.slide-content-img img {
  width: 100%;
  height: 100%;
}

.slide-content-img img:hover {
  transform: scale(1.15);
}

.slide-header {
  font-size: 3.4rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.slide-desc {
  font-size: 1.6rem;
  color: #acaeb6;
  line-height: 1.3;
}

.slide-content-textbox ul {
  padding-top: 2rem;
  display: flex;
  list-style: none;
}
.slide-content-textbox li {
  color: #acaeb6;
  font-size: 4.8rem;
  margin-right: 1rem;
}
.slide-content-textbox li:last-child {
  margin-right: 0;
}
.slide-content-textbox img {
  filter: invert(100%) sepia(5%) saturate(1007%) hue-rotate(81deg)
    brightness(89%) contrast(78%);
  width: 4.8rem;
}

/*contact*/
.section-contact {
  background: #eac204;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.contact-contents {
  width: 100%;
  padding-top: 5rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 7rem;
}

.contact-contents::after {
  content: "";
  background: #ffffff;
  position: absolute;
  bottom: 25%;
  left: 45%;
  top: 0;
  height: 2px;
  width: 10%;
  z-index: 100;
}

.contact-heading {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: 200;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact-form form {
  width: 100%;
  padding: 0 4rem 0 4rem;
}
.contact-form label {
  font-size: 1.6rem;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 3rem;
  color: inherit;
  border: none;
  background: #ffffff;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  padding: 1rem;
  color: #acaeb6;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}

.contact-form textarea {
  height: 15rem;
  resize: none;
}

.btn-contact-submit {
  color: #ffffff;
  background: inherit;
  font-size: 1.6rem;
  letter-spacing: 2px;
  text-decoration: none;
  border: solid 1.5px #ffffff;
  border-radius: 5px;
  padding: 1.2rem 2.2rem;
  transition: all 0.3s;
}

.btn-contact-submit:hover {
  color: #eac204;
  background: #ffffff;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info-desc {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.contact-info-icon {
  font-size: 2rem;
}
